$light-background: white;

$background: $light-background;
$accent-color: #36c0cd;
$red-color: #ff0000;
$blue-color: #3377ff;
$green-color: #38c172;
$dark-text: #333333;
$dark-text-lighter: #595959;
$dark-text-lightest: #737373;
$link-color: $dark-text;
$max-width: 800px;
$menu-color: #b6b3af;
$menu-hover-color: #b6b3af;
$light-divider: #e7e6e4;
$footer-color: #938f85;
$footer-bg-color: #f3f3f1;
$footer-border-color: #e7e6e4;

$mobile-width: 700px;
